{
  "swagger" : "2.0",
  "info" : {
    "description" : "This API allows users to explore the natural sciences and humanities collections of Museums Victoria in Australia, featuring collections of zoology, geology, palaeontology, history, indigenous cultures and technology. Over 1.15 million records were presented at launch in 2015, accompanied by over 150,000 images.\n\n\n# Getting Started\nIn order to use the API, consumers need an understanding of the structure of the entities. Each of these is available independently, but also through a combined search function with numerous filter parameters.\n    - Articles\n    - Items\n    - Species\n    - Specimens\n    \n  Or the common function: /Search\n\n# Authentication & Rate Limits\nThis API requires an API Key that can be generated using the Developer.Vic portal.  A sample key is also provided for getting started quickly.\n\nThe service is rate limited at 30 API calls per minute.\n\nUsers may request an increase to their limit through the Developer.Vic portal.\n\n\n# Terms of Use, Copyright and Attribution\nWe wish to encourage reuse and sharing of content.\n\nThe elements of each record that are defined as data carry a Creative Commons Zero (CC0) license.\n\nAll the text content and information written by curators, collection managers, and others is released under a Creative Commons Attribution 4.0 International (CC- BY) licence.\n\nImages, sounds and audio-visual material are licensed separately to text. We apply open licenses wherever possible, including marking images as Public Domain as applicable. You will find over 100,000 openly licensed and public domain images in this API.\n\n# Author attribution and citation\nWe wish to assist users to properly cite information that they have reused. A great deal of work has gone into the research and writing of articles and species profiles; please provide credit and attribution where it's due.\n",
    "version" : "1.0.0",
    "title" : "Museums Victoria Collections API",
    "x-summary" : "This API allows users to explore the natural sciences and humanities collections of Museums Victoria in Australia, featuring collections of zoology, geology, palaeontology, history, indigenous cultures and technology. Over 1.15 million records were presented at launch in 2015, accompanied by over 150,000 images"
  },
  "host" : "wovg-community.gateway.prod.api.vic.gov.au",
  "basePath" : "/museumvictoria/v1.0/collections",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "security" : [ {
    "API Key" : [ ]
  } ],
  "paths" : {
    "/items" : {
      "get" : {
        "summary" : "getItems",
        "description" : "Returns a list of items.",
        "operationId" : "getItems",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "A list of items were returned successfully.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SearchResponseItem"
              }
            }
          }
        },
        "x-axway" : { }
      }
    },
    "/specimens" : {
      "get" : {
        "summary" : "getSpecimens",
        "description" : "Returns a bunch of specimens.",
        "operationId" : "getSpecimens",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "A bunch of specimens were able to be retrieved ok.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SpecimenResponseItem"
              }
            }
          }
        },
        "x-axway" : { }
      }
    },
    "/articles/{articleId}" : {
      "get" : {
        "summary" : "getArticleByID",
        "description" : "Returns a single article by ID.",
        "operationId" : "getArticleByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "articleId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of articles was able to be retrieved.",
            "schema" : {
              "$ref" : "#/definitions/ArticleResponseItem"
            }
          },
          "404" : {
            "description" : "The article could not be found and probably does not exist.",
            "schema" : { }
          }
        },
        "x-axway" : { }
      }
    },
    "/specimens/{specimenId}" : {
      "get" : {
        "summary" : "getSpecimenByID",
        "description" : "Returns a single specimen by Id.",
        "operationId" : "getSpecimenByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "specimenId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "The specimen was found and retrieved ok.",
            "schema" : {
              "$ref" : "#/definitions/SpecimenResponseItem"
            }
          },
          "404" : {
            "description" : "The specimen could not be found and probably does not exist.",
            "schema" : { }
          }
        },
        "x-axway" : { }
      }
    },
    "/items/{itemId}" : {
      "get" : {
        "summary" : "getItemByID",
        "description" : "Returns a single item by ID.",
        "operationId" : "getItemByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "itemId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of items was able to be retrieved.",
            "schema" : {
              "$ref" : "#/definitions/SearchResponseItem"
            }
          },
          "404" : {
            "description" : "The article could not be found and probably does not exist.",
            "schema" : { }
          }
        },
        "x-axway" : { }
      }
    },
    "/species/{speciesId}" : {
      "get" : {
        "summary" : "getSpeciesByID",
        "description" : "Returns a single species by Id.",
        "operationId" : "getSpeciesByID",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "speciesId",
          "in" : "path",
          "description" : "",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A list of items was able to be retrieved.",
            "schema" : {
              "$ref" : "#/definitions/SpeciesResponseItem"
            }
          },
          "404" : {
            "description" : "The species could not be found and probably does not exist.",
            "schema" : { }
          }
        },
        "x-axway" : { }
      }
    },
    "/search" : {
      "get" : {
        "summary" : "searchCollection",
        "description" : "Searches through the collection",
        "operationId" : "searchCollection",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Specify a search term. Can contain one or more values. In order to add more terms repeat the query parameter as follows \"query=coin&amp;query=india\"\n\n**Example values:**\n- coin\n- india",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "sort",
          "in" : "query",
          "description" : "The order in which to sort return results. Regardless of the value used the direction of the order is always descending. Default value is relevance if the query parameter is present, otherwise quality is used as the default value.\n\n**Valid values:**\n- quality - The quality of the record based on how many fields and images a record may have.\n- relevance - The relevance of the record based on the search query. Only valid if the query parameter is used.\n- date - The date the record was last modified.\n- random - Results are returned in a random order.",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "mindatemodified",
          "in" : "query",
          "description" : "Minimum date a record was modified in ISO 8601 UTC format. Records with a modified date greater than or equal to this value will be returned.\n\n**Example:**\n- 2014-06-21T12:00:00Z",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "maxdatemodified",
          "in" : "query",
          "description" : "Maximum date a record was modified in ISO 8601 UTC format. Records with a modified date less than or equal to this value will be returned.\n\n**Example:**\n- 2014-06-21T12:00:00Z",
          "required" : false,
          "type" : "string",
          "format" : "date-time"
        }, {
          "name" : "hasimages",
          "in" : "query",
          "description" : "Specify whether or not the returned records contain images. Parameter is considered a facet.\n\n**Valid values:**\n- yes\n- no",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ondisplay",
          "in" : "query",
          "description" : "Specify whether or not the returned records are on display. Parameter is considered a facet.\n\n**Valid values:**\n- yes\n- no",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "recordtype",
          "in" : "query",
          "description" : "Type of record to return. Parameter is considered a facet.\n\n**Example values:**\n- article\n- item\n- species\n- specimen",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "category",
          "in" : "query",
          "description" : "Collection category of a record. Parameter is considered a facet.\n\n**Example values:**\n- natural sciences\n- indigenous collections",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "collectingarea",
          "in" : "query",
          "description" : "Collecting area of a record. Can contain one or more values. In order to add more terms repeat the query parameter as follows \"collectingarea=ornithology&amp;collectingarea=mammalogy\". Parameter is considered a facet.\n\n**Example values:**\n- ornithology\n- mammalogy",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "specimenscientificgroup",
          "in" : "query",
          "description" : "Specimen scientific group of a record, will only return specimen records. Parameter is considered a facet.\n\n**Example values:**\n- geology\n- invertebrate zoology",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "itemtype",
          "in" : "query",
          "description" : "The general type of specimen or item, will only return specimen or item records. Parameter is considered a facet.\n\n**Example values:**\n- object\n- specimen",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "speciestype",
          "in" : "query",
          "description" : "The broad category a species may be considered to belong to, will only return species records. Parameter is considered a facet.\n\n**Example values:**\n- snakes\n- birds",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "imagelicence",
          "in" : "query",
          "description" : "The open access licences that are attributed to a records images. Can contain one or more values. In order to add more terms repeat the query parameter as follows \"imagelicence=public+domain&amp;imagelicence=cc+by\". Parameter is considered a facet.\n\n**Example values:**\n- public domain\n- cc by",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "articletype",
          "in" : "query",
          "description" : "The type of article, will only return article records. Can contain one or more values. In order to add more terms repeat the query parameter as follows \"articletype=party&amp;articletype=physical+object\". Parameter is considered a facet.\n\n**Example values:**\n- party\n- physical object",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }, {
          "name" : "displaylocation",
          "in" : "query",
          "description" : "The display location at Museums Victoria venues for the record, will only return item or specimen records. Parameter is considered a facet.\n\n**Example values:**\n- melbourne museum\n- scienceworks",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "keyword",
          "in" : "query",
          "description" : "The keywords generally used to describe the record, sorta like tags. Keywords can come from a variety of other fields on records, for example:\n\n**articles:**\n- keywords\n\n**items:**\n- keywords\n- audioVisualRecordingDetails\n- modelNames\n- archeologyActivity\n- archeologySpecificActivity\n- archeologyDecoration\n- numismaticsSeries\n- tradeLiteraturePrimarySubject\n- tradeLiteraturePublicationTypes\n- brands\n\n**species:**\n- conservationStatuses\n- animalSubType\n\n**specimens:**\n- keywords\n- expeditionNameExpeditionName\n\n**Example Values:**\n- handcrafts\n- australian art",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "locality",
          "in" : "query",
          "description" : "The general locality a record may be associated with. Locality can come from a variety of other fields on records , for example:\n\n**articles:**\n- localities\n\n**items:**\n- locality\n- region\n- state\n- country\n- indigenousCulturesLocalities\n\n**species:**\n- nationalParks\n\n**specimens:**\n- locality\n- region\n- state\n- country\n- ocean\n- continent\n- district\n- town\n- nearestNamedPlace\n- tektitesLocalStrewnfield\n- tektitesGlobalStrewnfield\n\n**Example Values:**\n- barossa valley\n- germany",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "collection",
          "in" : "query",
          "description" : "The museum collection a record belongs to, will only return item or specimen records. Collection can come from a variety of other fields on records, for example:\n\n**items:**\n- collectionNames\n- discipline\n\n**specimens:**\n- collectionNames\n- discipline\n\n**Example Values:**\n- spencer collection\n- royal exhibition building collection",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "date",
          "in" : "query",
          "description" : "The general date a record may be associated with, due to the variation in the way date is cataloged the string must be an exact match and is not parsed into a standardised date format, will only return item or specimen records. Collection can come from a variety of other fields on records, for example:\n\n**items:**\n- date\n- indigenousCulturesDate\n- indigenousCulturesDateCollected\n- archeologyManufactureDate\n- philatelyDateIssued\n- tradeLiteraturePublicationDate\n\n**specimens:**\n- date\n\n**Example Values:**\n- 02 nov 1956\n- 05/11/1908",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "culturalgroup",
          "in" : "query",
          "description" : "The indigenous cultures cultural group a record may be associated with, will only return item records.\n\n**Example Values:**\n- woi wurrung\n- barapa barapa",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "classification",
          "in" : "query",
          "description" : "The museum classification a record may belong to, will only return item and specimen records.\n\n**Example Values:**\n- boring apparatus\n- dust collecting equipment",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "A person or companies name a record may be associated with. Name can come from a variety of other fields on records, for example:\n\n**articles:**\n- author.fullName\n\n**items:**\n- association.name\n- indigenousCulturesPhotographer\n- indigenousCulturesAuthor\n- indigenousCulturesIllustrator\n- indigenousCulturesMaker\n- indigenousCulturesCollector\n- indigenousCulturesLetterTo\n- indigenousCulturesLetterFrom\n- brand.name\n- archeologyManufactureName\n- tradeLiteraturePrimaryName\n- artworkPublisher\n\n**species:**\n- author.fullName\n\n**specimens:**\n- association.name\n\n**Example Values:**\n- Mrs Jane Burn\n- Senator George F. Pearce - Australian Government",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "technique",
          "in" : "query",
          "description" : "The archeology technique used to create an object, will only return item records.\n\n**Example Values:**\n- caved bone\n- machine-made",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "denomination",
          "in" : "query",
          "description" : "The numismatics denomination of a record, will only return item records.\n\n**Example Values:**\n- half crown\n- obol",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "habitat",
          "in" : "query",
          "description" : "The habitat or whereToLook a species lives in, will only return species records.\n\n**Example Values:**\n- woodland\n- seagrass meadows",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "taxon",
          "in" : "query",
          "description" : "The taxonName, kingdom, phylum, subphylum, superclass, class, subclass, superorder, order, suborder, infraorder, superfamily, family, subfamily, commonName, otherCommonNames an item, species or specimen may belong to.\n\n**Example Values:**\n- mammalia\n- Ornithorhynchus anatinus",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "typestatus",
          "in" : "query",
          "description" : "The type status of a specimen, will only return specimen records.\n\n**Example Values:**\n- holotype\n- paratype",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "geotype",
          "in" : "query",
          "description" : "The petrologyRockClass, petrologyRockGroup, mineralogyVariety, mineralogyGroup, mineralogyClass, meteoritesClass, meteoritesGroup, tektitesClassification, mineralogySpecies a specimen may belong to.\n\n**Example Values:**\n- agate\n- copper",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "museumlocation",
          "in" : "query",
          "description" : "The gallery or venue a record may be on display at one of Museums Victoria's venues, will only return item and specimen records.\n\n**Example Values:**\n- immigration museum\n- bunjilaka - first peoples",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "article",
          "in" : "query",
          "description" : "The title of an article a record may be associated with, will only return article, item and specimen records.\n\n**Example Values:**\n- arms collection\n- csirac games - a summary",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "speciesendemicity",
          "in" : "query",
          "description" : "The endemicity of a species, will only return species records.\n\n**Example Values:**\n- introduced pest\n- native to australia",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "A bunch of things were able to be searched ok.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SearchResponseItem"
              }
            }
          }
        },
        "x-axway" : { }
      }
    },
    "/species" : {
      "get" : {
        "summary" : "getSpecies",
        "description" : "Returns a list of species.",
        "operationId" : "getSpecies",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "A list of species were returned successfully.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/SpeciesResponseItem"
              }
            }
          }
        },
        "x-axway" : { }
      }
    },
    "/articles" : {
      "get" : {
        "summary" : "getArticles",
        "description" : "Returns a list of articles.",
        "operationId" : "getArticles",
        "produces" : [ "application/json" ],
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "description" : "A list of articles was able to be retrieved.",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/ArticleResponseItem"
              }
            }
          }
        },
        "x-axway" : { }
      }
    }
  },
  "securityDefinitions" : {
    "API Key" : {
      "description" : "API Key",
      "type" : "apiKey",
      "name" : "apikey",
      "in" : "header"
    }
  },
  "definitions" : {
    "Comment" : {
      "type" : "object",
      "properties" : {
        "author" : {
          "type" : "string"
        },
        "content" : {
          "type" : "string"
        },
        "created" : {
          "type" : "string",
          "format" : "date-time"
        }
      },
      "title" : "Comment"
    },
    "SpecimenResponseItem" : {
      "type" : "object",
      "properties" : {
        "recordType" : {
          "type" : "string"
        },
        "licence" : {
          "$ref" : "#/definitions/Licence"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "displayTitle" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "scientificGroup" : {
          "type" : "string"
        },
        "discipline" : {
          "type" : "string"
        },
        "registrationNumber" : {
          "type" : "string"
        },
        "collectionNames" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "localities" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "type" : {
          "type" : "string"
        },
        "classifications" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "objectName" : {
          "type" : "string"
        },
        "objectSummary" : {
          "type" : "string"
        },
        "isdDescriptionOfContent" : {
          "type" : "string"
        },
        "significance" : {
          "type" : "string"
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "collectingAreas" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "associations" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedItemIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpecimenIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedArticleIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpeciesIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "acquisitionInformation" : {
          "type" : "string"
        },
        "acknowledgement" : {
          "type" : "string"
        },
        "museumLocation" : {
          "type" : "string"
        },
        "numberOfSpecimens" : {
          "type" : "string"
        },
        "clutchSize" : {
          "type" : "string"
        },
        "sex" : {
          "type" : "string"
        },
        "stageOrAge" : {
          "type" : "string"
        },
        "storages" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Storage"
          }
        },
        "typeStatus" : {
          "type" : "string"
        },
        "identifiedBy" : {
          "type" : "string"
        },
        "dateIdentified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "qualifier" : {
          "type" : "string"
        },
        "qualifierRank" : {
          "type" : "string"
        },
        "taxonomy" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Taxonomy"
          }
        },
        "collectionEvent" : {
          "$ref" : "#/definitions/CollectionEvent"
        },
        "collectionSite" : {
          "$ref" : "#/definitions/CollectionSite"
        },
        "palaeontologyDateCollectedFrom" : {
          "type" : "string"
        },
        "palaeontologyDateCollectedTo" : {
          "type" : "string"
        },
        "mineralogySpecies" : {
          "type" : "string"
        },
        "mineralogyVariety" : {
          "type" : "string"
        },
        "mineralogyGroup" : {
          "type" : "string"
        },
        "mineralogyClass" : {
          "type" : "string"
        },
        "mineralogyAssociatedMatrix" : {
          "type" : "string"
        },
        "mineralogyType" : {
          "type" : "string"
        },
        "mineralogyTypeOfType" : {
          "type" : "string"
        },
        "meteoritesName" : {
          "type" : "string"
        },
        "meteoritesClass" : {
          "type" : "string"
        },
        "meteoritesGroup" : {
          "type" : "string"
        },
        "meteoritesType" : {
          "type" : "string"
        },
        "meteoritesMinerals" : {
          "type" : "string"
        },
        "meteoritesSpecimenWeight" : {
          "type" : "string"
        },
        "meteoritesTotalWeight" : {
          "type" : "string"
        },
        "meteoritesDateFell" : {
          "type" : "string",
          "format" : "date-time"
        },
        "meteoritesDateFound" : {
          "type" : "string",
          "format" : "date-time"
        },
        "tektitesName" : {
          "type" : "string"
        },
        "tektitesClassification" : {
          "type" : "string"
        },
        "tektitesShape" : {
          "type" : "string"
        },
        "tektitesLocalStrewnfield" : {
          "type" : "string"
        },
        "tektitesGlobalStrewnfield" : {
          "type" : "string"
        },
        "petrologyRockClass" : {
          "type" : "string"
        },
        "petrologyRockGroup" : {
          "type" : "string"
        },
        "petrologyRockName" : {
          "type" : "string"
        },
        "petrologyRockDescription" : {
          "type" : "string"
        },
        "petrologyMineralsPresent" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "media" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Medium"
          }
        }
      },
      "title" : "SpecimenResponseItem"
    },
    "Small" : {
      "type" : "object",
      "properties" : {
        "width" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "uri" : {
          "type" : "string"
        }
      },
      "title" : "Small"
    },
    "Taxonomy" : {
      "type" : "object",
      "properties" : {
        "kingdom" : {
          "type" : "string"
        },
        "phylum" : {
          "type" : "string"
        },
        "subphylum" : {
          "type" : "string"
        },
        "class" : {
          "type" : "string"
        },
        "superclass" : {
          "type" : "string"
        },
        "superorder" : {
          "type" : "string"
        },
        "order" : {
          "type" : "string"
        },
        "suborder" : {
          "type" : "string"
        },
        "infraorder" : {
          "type" : "string"
        },
        "superfamily" : {
          "type" : "string"
        },
        "family" : {
          "type" : "string"
        },
        "subfamily" : {
          "type" : "string"
        },
        "genus" : {
          "type" : "string"
        },
        "subgenus" : {
          "type" : "string"
        },
        "species" : {
          "type" : "string"
        },
        "subspecies" : {
          "type" : "string"
        },
        "author" : {
          "type" : "string"
        },
        "taxonName" : {
          "type" : "string"
        },
        "commonName" : {
          "type" : "string"
        },
        "otherCommonNames" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "title" : "Taxonomy"
    },
    "SearchResponseItem" : {
      "type" : "object",
      "properties" : {
        "recordType" : {
          "type" : "string"
        },
        "comments" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Comment"
          }
        },
        "licence" : {
          "$ref" : "#/definitions/Licence"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "displayTitle" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "discipline" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "registrationNumber" : {
          "type" : "string"
        },
        "collectionNames" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "collectionAreas" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "classifications" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "objectName" : {
          "type" : "string"
        },
        "objectSummary" : {
          "type" : "string"
        },
        "physicalDescription" : {
          "type" : "string"
        },
        "inscription" : {
          "type" : "string"
        },
        "associations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Association"
          }
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "significance" : {
          "type" : "string"
        },
        "modelScale" : {
          "type" : "string"
        },
        "shape" : {
          "type" : "string"
        },
        "dimensions" : {
          "$ref" : "#/definitions/Dimensions"
        },
        "references" : {
          "type" : "string"
        },
        "bibliographies" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "brands" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedItemIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpecimenIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedArticleIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpeciesIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "acquisitionInformation" : {
          "type" : "string"
        },
        "acknowledgement" : {
          "type" : "string"
        },
        "museumLocation" : {
          "type" : "string"
        },
        "archeologyContextNumber" : {
          "type" : "string"
        },
        "archeologySite" : {
          "type" : "string"
        },
        "archeologyDescription" : {
          "type" : "string"
        },
        "archeologyDistinguishingMarks" : {
          "type" : "string"
        },
        "archeologyActivity" : {
          "type" : "string"
        },
        "archeologySpecificActivity" : {
          "type" : "string"
        },
        "archeologyDecoration" : {
          "type" : "string"
        },
        "archeologyPattern" : {
          "type" : "string"
        },
        "archeologyColour" : {
          "type" : "string"
        },
        "archeologyMoulding" : {
          "type" : "string"
        },
        "archeologyPlacement" : {
          "type" : "string"
        },
        "archeologyForm" : {
          "type" : "string"
        },
        "archeologyShape" : {
          "type" : "string"
        },
        "archeologyManufactureName" : {
          "type" : "string"
        },
        "archeologyManufactureDate" : {
          "type" : "string"
        },
        "archeologyTechnique" : {
          "type" : "string"
        },
        "archeologyProvenance" : {
          "type" : "string"
        },
        "numismaticsDenomination" : {
          "type" : "string"
        },
        "numismaticsDateIssued" : {
          "type" : "string"
        },
        "numismaticsSeries" : {
          "type" : "string"
        },
        "numismaticsMaterial" : {
          "type" : "string"
        },
        "numismaticsAxis" : {
          "type" : "string"
        },
        "numismaticsEdgeDescription" : {
          "type" : "string"
        },
        "numismaticsObverseDescription" : {
          "type" : "string"
        },
        "numismaticsReverseDescription" : {
          "type" : "string"
        },
        "philatelyColour" : {
          "type" : "string"
        },
        "philatelyDenomination" : {
          "type" : "string"
        },
        "philatelyImprint" : {
          "type" : "string"
        },
        "philatelyIssue" : {
          "type" : "string"
        },
        "philatelyDateIssued" : {
          "type" : "string"
        },
        "philatelyForm" : {
          "type" : "string"
        },
        "philatelyOverprint" : {
          "type" : "string"
        },
        "philatelyGibbonsNumber" : {
          "type" : "string"
        },
        "isdFormat" : {
          "type" : "string"
        },
        "isdLanguage" : {
          "type" : "string"
        },
        "isdDescriptionOfContent" : {
          "type" : "string"
        },
        "isdPeopleDepicted" : {
          "type" : "string"
        },
        "audioVisualRecordingDetails" : {
          "type" : "string"
        },
        "audioVisualContentSummaries" : {
          "type" : "string"
        },
        "tradeLiteratureNumberofPages" : {
          "type" : "string"
        },
        "tradeLiteraturePageSizeFormat" : {
          "type" : "string"
        },
        "tradeLiteratureCoverTitle" : {
          "type" : "string"
        },
        "tradeLiteraturePrimarySubject" : {
          "type" : "string"
        },
        "tradeLiteraturePublicationDate" : {
          "type" : "string"
        },
        "tradeLiteratureIllustrationTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePrintingTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePublicationTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePrimaryRole" : {
          "type" : "string"
        },
        "tradeLiteraturePrimaryName" : {
          "type" : "string"
        },
        "indigenousCulturesLocalities" : {
          "type" : "string"
        },
        "indigenousCulturesCulturalGroups" : {
          "type" : "string"
        },
        "indigenousCulturesMedium" : {
          "type" : "string"
        },
        "indigenousCulturesDescription" : {
          "type" : "string"
        },
        "indigenousCulturesLocalName" : {
          "type" : "string"
        },
        "indigenousCulturesPhotographer" : {
          "type" : "string"
        },
        "indigenousCulturesAuthor" : {
          "type" : "string"
        },
        "indigenousCulturesIllustrator" : {
          "type" : "string"
        },
        "indigenousCulturesMaker" : {
          "type" : "string"
        },
        "indigenousCulturesDate" : {
          "type" : "string"
        },
        "indigenousCulturesCollector" : {
          "type" : "string"
        },
        "indigenousCulturesDateCollected" : {
          "type" : "string"
        },
        "indigenousCulturesIndividualsIdentified" : {
          "type" : "string"
        },
        "indigenousCulturesTitle" : {
          "type" : "string"
        },
        "indigenousCulturesSheets" : {
          "type" : "string"
        },
        "indigenousCulturesPages" : {
          "type" : "string"
        },
        "indigenousCulturesLetterTo" : {
          "type" : "string"
        },
        "indigenousCulturesLetterFrom" : {
          "type" : "string"
        },
        "artworkMedium" : {
          "type" : "string"
        },
        "artworkTechnique" : {
          "type" : "string"
        },
        "artworkSupport" : {
          "type" : "string"
        },
        "artworkPlateNumber" : {
          "type" : "string"
        },
        "artworkDrawingNumber" : {
          "type" : "string"
        },
        "artworkState" : {
          "type" : "string"
        },
        "artworkPublisher" : {
          "type" : "string"
        },
        "artworkPrimaryInscriptions" : {
          "type" : "string"
        },
        "artworkSecondaryInscriptions" : {
          "type" : "string"
        },
        "artworkTertiaryInscriptions" : {
          "type" : "string"
        },
        "typeStatus" : {
          "type" : "string"
        },
        "identifiedBy" : {
          "type" : "string"
        },
        "dateIdentified" : {
          "type" : "string"
        },
        "qualifier" : {
          "type" : "string"
        },
        "qualifierRank" : {
          "type" : "string"
        },
        "taxonomy" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "media" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Medium"
          }
        }
      },
      "title" : "SearchResponseItem"
    },
    "CollectionEvent" : {
      "type" : "object",
      "properties" : {
        "expeditionName" : {
          "type" : "string"
        },
        "collectionEventCode" : {
          "type" : "string"
        },
        "dateVisitedFrom" : {
          "type" : "string"
        },
        "dateVisitedTo" : {
          "type" : "string"
        },
        "depthTo" : {
          "type" : "string"
        },
        "depthFrom" : {
          "type" : "string"
        },
        "collectedBy" : {
          "type" : "string"
        }
      },
      "title" : "CollectionEvent"
    },
    "Large" : {
      "type" : "object",
      "properties" : {
        "width" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "uri" : {
          "type" : "string"
        }
      },
      "title" : "Large"
    },
    "Dimensions" : {
      "type" : "object",
      "properties" : {
        "configuration" : {
          "type" : "string"
        },
        "dimensions" : {
          "type" : "string"
        },
        "comments" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Comment"
          }
        }
      },
      "title" : "Dimensions"
    },
    "CollectionSite" : {
      "type" : "object",
      "properties" : {
        "siteCode" : {
          "type" : "string"
        },
        "ocean" : {
          "type" : "string"
        },
        "continent" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "district" : {
          "type" : "string"
        },
        "town" : {
          "type" : "string"
        },
        "nearestNamedPlace" : {
          "type" : "string"
        },
        "preciseLocation" : {
          "type" : "string"
        },
        "minimumElevation" : {
          "type" : "string"
        },
        "maximumElevation" : {
          "type" : "string"
        },
        "latitudes" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "longitudes" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "geodeticDatum" : {
          "type" : "string"
        },
        "georeferenceBy" : {
          "type" : "string"
        },
        "georeferenceDate" : {
          "type" : "string"
        },
        "georeferenceProtocol" : {
          "type" : "string"
        },
        "georeferenceSource" : {
          "type" : "string"
        },
        "geologyPeriod" : {
          "type" : "string"
        },
        "geologyEpoch" : {
          "type" : "string"
        },
        "geologyStage" : {
          "type" : "string"
        },
        "geologyGroup" : {
          "type" : "string"
        },
        "geologyFormation" : {
          "type" : "string"
        },
        "geologyMember" : {
          "type" : "string"
        },
        "geologyRockType" : {
          "type" : "string"
        }
      },
      "title" : "CollectionSite"
    },
    "Thumbnail" : {
      "type" : "object",
      "properties" : {
        "width" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "uri" : {
          "type" : "string"
        }
      },
      "title" : "Thumbnail"
    },
    "Association" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "date" : {
          "type" : "string"
        },
        "comments" : {
          "type" : "string"
        },
        "streetAddress" : {
          "type" : "string"
        },
        "locality" : {
          "type" : "string"
        },
        "region" : {
          "type" : "string"
        },
        "state" : {
          "type" : "string"
        },
        "country" : {
          "type" : "string"
        }
      },
      "title" : "Association"
    },
    "Storage" : {
      "type" : "object",
      "properties" : {
        "nature" : {
          "type" : "string"
        },
        "form" : {
          "type" : "string"
        },
        "fixativeTreatment" : {
          "type" : "string"
        },
        "medium" : {
          "type" : "string"
        }
      },
      "title" : "Storage"
    },
    "Medium" : {
      "type" : "object",
      "properties" : {
        "type" : {
          "type" : "string"
        },
        "alternativeText" : {
          "type" : "string"
        },
        "large" : {
          "$ref" : "#/definitions/Large"
        },
        "medium" : {
          "$ref" : "#/definitions/Medium1"
        },
        "small" : {
          "$ref" : "#/definitions/Small"
        },
        "thumbnail" : {
          "$ref" : "#/definitions/Thumbnail"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "caption" : {
          "type" : "string"
        },
        "creators" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "sources" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "credit" : {
          "type" : "string"
        },
        "rightsStatement" : {
          "type" : "string"
        },
        "licence" : {
          "$ref" : "#/definitions/Licence"
        }
      },
      "title" : "Medium"
    },
    "Medium1" : {
      "type" : "object",
      "properties" : {
        "width" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32"
        },
        "size" : {
          "type" : "integer",
          "format" : "int32"
        },
        "uri" : {
          "type" : "string"
        }
      },
      "title" : "Medium1"
    },
    "ArticleResponseItem" : {
      "type" : "object",
      "properties" : {
        "recordType" : {
          "type" : "string"
        },
        "licence" : {
          "$ref" : "#/definitions/Licence"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "title" : {
          "type" : "string"
        },
        "displayTitle" : {
          "type" : "string"
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "localities" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "content" : {
          "type" : "string"
        },
        "contentSummary" : {
          "type" : "string"
        },
        "types" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "authors" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Author"
          }
        },
        "contributors" : {
          "type" : "array",
          "items" : {
            "type" : "object",
            "properties" : { }
          }
        },
        "yearWritten" : {
          "type" : "string"
        },
        "parentArticleId" : {
          "type" : "string"
        },
        "childArticleIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedArticleIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedItemIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpecimenIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "id" : {
          "type" : "string"
        },
        "media" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Medium"
          }
        }
      },
      "title" : "ArticleResponseItem"
    },
    "SpeciesResponseItem" : {
      "type" : "object",
      "properties" : {
        "recordType" : {
          "type" : "string"
        },
        "licence" : {
          "$ref" : "#/definitions/Licence"
        },
        "dateModified" : {
          "type" : "string",
          "format" : "date-time"
        },
        "displayTitle" : {
          "type" : "string"
        },
        "category" : {
          "type" : "string"
        },
        "discipline" : {
          "type" : "string"
        },
        "type" : {
          "type" : "string"
        },
        "registrationNumber" : {
          "type" : "string"
        },
        "collectionNames" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "collectingAreas" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "classifications" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "objectSummary" : {
          "type" : "string"
        },
        "physicalDescription" : {
          "type" : "string"
        },
        "inscription" : {
          "type" : "string"
        },
        "associations" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Association"
          }
        },
        "keywords" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "significance" : {
          "type" : "string"
        },
        "modelScale" : {
          "type" : "string"
        },
        "shape" : {
          "type" : "string"
        },
        "dimensions" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "references" : {
          "type" : "string"
        },
        "bibliographies" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "modelNames" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "brands" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedItemIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpecimenIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedArticleIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "relatedSpeciesIds" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        },
        "acquisitionInformation" : {
          "type" : "string"
        },
        "acknowledgement" : {
          "type" : "string"
        },
        "museumLocation" : {
          "type" : "string"
        },
        "archeologyContextNumber" : {
          "type" : "string"
        },
        "archeologySite" : {
          "type" : "string"
        },
        "archeologyDescription" : {
          "type" : "string"
        },
        "archeologyDistinguishingMarks" : {
          "type" : "string"
        },
        "archeologyActivity" : {
          "type" : "string"
        },
        "archeologySpecificActivity" : {
          "type" : "string"
        },
        "archeologyDecoration" : {
          "type" : "string"
        },
        "archeologyPattern" : {
          "type" : "string"
        },
        "archeologyColour" : {
          "type" : "string"
        },
        "archeologyMoulding" : {
          "type" : "string"
        },
        "archeologyPlacement" : {
          "type" : "string"
        },
        "archeologyForm" : {
          "type" : "string"
        },
        "archeologyShape" : {
          "type" : "string"
        },
        "archeologyManufactureName" : {
          "type" : "string"
        },
        "archeologyManufactureDate" : {
          "type" : "string"
        },
        "archeologyTechnique" : {
          "type" : "string"
        },
        "archeologyProvenance" : {
          "type" : "string"
        },
        "numismaticsDenomination" : {
          "type" : "string"
        },
        "numismaticsDateIssued" : {
          "type" : "string"
        },
        "numismaticsSeries" : {
          "type" : "string"
        },
        "numismaticsMaterial" : {
          "type" : "string"
        },
        "numismaticsAxis" : {
          "type" : "string"
        },
        "numismaticsEdgeDescription" : {
          "type" : "string"
        },
        "numismaticsObverseDescription" : {
          "type" : "string"
        },
        "numismaticsReverseDescription" : {
          "type" : "string"
        },
        "philatelyColour" : {
          "type" : "string"
        },
        "philatelyDenomination" : {
          "type" : "string"
        },
        "philatelyImprint" : {
          "type" : "string"
        },
        "philatelyIssue" : {
          "type" : "string"
        },
        "philatelyDateIssued" : {
          "type" : "string"
        },
        "philatelyForm" : {
          "type" : "string"
        },
        "philatelyOverprint" : {
          "type" : "string"
        },
        "philatelyGibbonsNumber" : {
          "type" : "string"
        },
        "isdFormat" : {
          "type" : "string"
        },
        "isdLanguage" : {
          "type" : "string"
        },
        "isdDescriptionOfContent" : {
          "type" : "string"
        },
        "isdPeopleDepicted" : {
          "type" : "string"
        },
        "audioVisualRecordingDetails" : {
          "type" : "string"
        },
        "audioVisualContentSummaries" : {
          "type" : "string"
        },
        "tradeLiteratureNumberofPages" : {
          "type" : "string"
        },
        "tradeLiteraturePageSizeFormat" : {
          "type" : "string"
        },
        "tradeLiteratureCoverTitle" : {
          "type" : "string"
        },
        "tradeLiteraturePrimarySubject" : {
          "type" : "string"
        },
        "tradeLiteraturePublicationDate" : {
          "type" : "string"
        },
        "tradeLiteratureIllustrationTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePrintingTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePublicationTypes" : {
          "type" : "string"
        },
        "tradeLiteraturePrimaryRole" : {
          "type" : "string"
        },
        "tradeLiteraturePrimaryName" : {
          "type" : "string"
        },
        "indigenousCulturesLocalities" : {
          "type" : "string"
        },
        "indigenousCulturesCulturalGroups" : {
          "type" : "string"
        },
        "indigenousCulturesMedium" : {
          "type" : "string"
        },
        "indigenousCulturesDescription" : {
          "type" : "string"
        },
        "indigenousCulturesLocalName" : {
          "type" : "string"
        },
        "indigenousCulturesPhotographer" : {
          "type" : "string"
        },
        "indigenousCulturesAuthor" : {
          "type" : "string"
        },
        "indigenousCulturesIllustrator" : {
          "type" : "string"
        },
        "indigenousCulturesMaker" : {
          "type" : "string"
        },
        "indigenousCulturesDate" : {
          "type" : "string"
        },
        "indigenousCulturesCollector" : {
          "type" : "string"
        },
        "indigenousCulturesDateCollected" : {
          "type" : "string"
        },
        "indigenousCulturesIndividualsIdentified" : {
          "type" : "string"
        },
        "indigenousCulturesTitle" : {
          "type" : "string"
        },
        "indigenousCulturesSheets" : {
          "type" : "string"
        },
        "indigenousCulturesPages" : {
          "type" : "string"
        },
        "indigenousCulturesLetterTo" : {
          "type" : "string"
        },
        "indigenousCulturesLetterFrom" : {
          "type" : "string"
        },
        "artworkMedium" : {
          "type" : "string"
        },
        "artworkTechnique" : {
          "type" : "string"
        },
        "artworkSupport" : {
          "type" : "string"
        },
        "artworkPlateNumber" : {
          "type" : "string"
        },
        "artworkDrawingNumber" : {
          "type" : "string"
        },
        "artworkState" : {
          "type" : "string"
        },
        "artworkPublisher" : {
          "type" : "string"
        },
        "artworkPrimaryInscriptions" : {
          "type" : "string"
        },
        "artworkSecondaryInscriptions" : {
          "type" : "string"
        },
        "artworkTertiaryInscriptions" : {
          "type" : "string"
        },
        "typeStatus" : {
          "type" : "string"
        },
        "identifiedBy" : {
          "type" : "string"
        },
        "dateIdentified" : {
          "type" : "string"
        },
        "qualifier" : {
          "type" : "string"
        },
        "qualifierRank" : {
          "type" : "string"
        },
        "taxonomy" : {
          "type" : "string"
        },
        "id" : {
          "type" : "string"
        },
        "media" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Medium"
          }
        }
      },
      "title" : "SpeciesResponseItem"
    },
    "Licence" : {
      "type" : "object",
      "properties" : {
        "name" : {
          "type" : "string"
        },
        "shortName" : {
          "type" : "string"
        },
        "uri" : {
          "type" : "string"
        }
      },
      "title" : "Licence"
    },
    "Author" : {
      "type" : "object",
      "properties" : {
        "firstName" : {
          "type" : "string"
        },
        "lastName" : {
          "type" : "string"
        },
        "fullName" : {
          "type" : "string"
        },
        "biography" : {
          "type" : "string"
        },
        "profileImage" : {
          "type" : "string"
        }
      },
      "title" : "Author"
    }
  },
  "x-axway" : {
    "serviceType" : "rest",
    "image" : "/api/portal/v1.3/discovery/swagger/apis/e41d370d-d729-4ae2-9eb2-0cfb804ebad5/image",
    "basePaths" : [ "https://wovg-community.gateway.prod.api.vic.gov.au" ],
    "expired" : false,
    "retirementDate" : 0,
    "corsEnabled" : true,
    "deprecated" : false,
    "availableSDK" : {
      "ios-swift" : "/discovery/sdk/e41d370d-d729-4ae2-9eb2-0cfb804ebad5/ios-swift",
      "titanium" : "/discovery/sdk/e41d370d-d729-4ae2-9eb2-0cfb804ebad5/titanium",
      "android" : "/discovery/sdk/e41d370d-d729-4ae2-9eb2-0cfb804ebad5/android",
      "nodejs" : "/discovery/sdk/e41d370d-d729-4ae2-9eb2-0cfb804ebad5/nodejs"
    },
    "apiResourceType" : "swagger20",
    "id" : "e41d370d-d729-4ae2-9eb2-0cfb804ebad5",
    "state" : "published",
    "accessGrantedDate" : 1633583217230
  }
}